<% if can? :destroy, @recipe %>
<%= link_to "Add food", new_food_path, class: "btn btn-secondary float-end" %>
<% end %>
<h3>Recipe #<%= @recipe.id %> by <%= @recipe.user.name %></h3>
<p>Name: <%= @recipe.name %></p>
<p>Description: <%= @recipe.description %></p>