<h3>Recipe #<%= @recipe.id %> by <%= @recipe.user.name %></h3>
<p>Name: <%= @recipe.name %></p>
<p>Description: <%= @recipe.description %></p>
<%# <% if can? :delete, @post %>
        <%# <%= button_to "Delete post", user_post_path, method: :delete, :class => 'navbar-link' %>
      <%# <% end %>