<%= form_with(model: @recipe_food) do |form| %>
      <% if @recipe_food.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@recipe_food.errors.count, "error") %> prohibited this recipe from being saved:</h2> %>

          <ul>
            <% recipe_food.errors.each do |error| %>
              <li><%= error.full_message %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.number_field :quantity, class: "form-control m-2", placeholder: "quantity" %>
      </div>

      <div>
        <%= form.submit "Add", class: "btn btn-secondary m-2" %>
      </div>
    <% end %>