<!DOCTYPE html>
<html>
  <head>
    <title>Recipe App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= javascript_importmap_tags %>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" 
      crossorigin="anonymous">
  </head>

  <body>
    <%= render 'partials/header' %>
    <% flash.each do |type, msg| %>
        <p class="alert  alert-success <%= type %>">
          <%= msg %>
        </p>
    <% end %>
    <%= yield %>
  </body>
</html>
